%section.container
  .row
    .logo
      %h3.text-center
        %span.glyphicon.glyphicon-book
        GradeBook
    .col-sm-6.col-sm-offset-3
      .panel.panel-default.login
        .panel-body
          %h3.text-center.title
            Log in to your account
            .center-block
              = bootstrap_form_tag(url: sign_in_path) do |f|
                %fieldset
                  .col-sm-10.col-sm-offset-1
                    = f.email_field :email, hide_label: true, class: 'input-lg', placeholder: 'Email Address', icon: 'user'
                  .col-sm-10.col-sm-offset-1
                    = f.password_field :password, hide_label: true, class: 'input-lg', placeholder: 'Password', icon: 'lock'
                %fieldset.control-group.text-center
                  .col-sm-10.col-sm-offset-1
                    = f.submit "Submit", class: 'btn btn-primary btn-lg btn-block'
        = link_to register_path do
          .panel-footer.text-center
            %span.register New User? Register here.
