.container
  .well.col-md-offset-2.col-md-6
    %h3.text-center.text-primary Sign In
    %br/
    .center-block
      = bootstrap_form_tag(url: sign_in_path, layout: :horizontal, label_col: 'col-md-3', control_col: 'col-md-6') do |f|
        %fieldset
          = f.email_field :email
          = f.password_field :password
        %fieldset.control-group.col-md-offset-7
          = f.submit "Submit", class: 'btn btn-primary'
      %br/
      = link_to register_path, class: 'col-md-offset-6' do
        %span.small New User? Register here