.well.col-sm-10.info-card{id: "assignment_#{assignment.id}"}
  .title-bar
    .submission-count.pull-left
      - if current_user.instructor?
        - if assignment.submission_required?
          = link_to course_assignment_grades_path(course, assignment), class: 'btn btn-primary btn-sm' do
            Grade Submissions
            %span.badge= assignment.submissions.count
        - else
          =link_to "Grade Assignment", course_assignment_grades_path(course, assignment), class: 'btn btn-primary btn-sm'
    - if current_user.instructor?
      .dropdown.pull-right
        %a.dropdown-toggle.hamburger{type: "button", "data-toggle" => "dropdown"}
          %span.glyphicon.glyphicon-menu-hamburger
        %ul.dropdown-menu
          %li
            = link_to edit_course_assignment_path(course, assignment), remote: true  do
              %span.glyphicon.glyphicon-pencil
              Edit
            = link_to course_assignment_path(course, assignment), method: :delete, data: { confirm: "Are you sure you want to delete this assignment?"} do
              %span.glyphicon.glyphicon-remove
              Delete
    .main-text.text-center.assignment-title
      %h3= assignment.title
    .col-sm-4
      %dt Due Date
      %dd= assignment.due_date.strftime("%A, %b %d")
      %dt Assigned On
      %dd= assignment.created_at.strftime("%A, %b %d")
      %dt Point Value
      %dd= assignment.point_value
      %dt Online Submission Required?
      %dd= assignment.submission_required
    .col-sm-4
      %dt Description
      %dd= assignment.description
      - unless current_user.instructor?
        %dt Grade
        %dd= current_user.grade_for(assignment).try(:points) || 'Not graded'
    - if !current_user.instructor? && assignment.submission_required?
      .col-sm-4
        %dt Current Submission
        %dd= submission.new_record? ? 'No File Uploaded' : "#{submission.submission.file.filename}"
        %dt Choose a New File
        %dd
          = bootstrap_form_for([course, assignment, submission], inline_errors: false) do |f|
            .fieldset
              = f.file_field :submission, hide_label: true
              = f.submit 'Upload', class: 'btn btn-xs'
