.container
  .well.col-md-offset-2.col-md-6
    %h3.text-center.text-primary Register
    %br/
    .center-block
      = bootstrap_form_for(@user, layout: :horizontal, label_col: 'col-md-3', control_col: 'col-md-6') do |f|
        %fieldset
          = f.alert_message "Please fix the following errors:"
          = f.email_field :email
          = f.text_field :first_name
          = f.text_field :last_name
          = f.number_field :college_id
          = f.password_field :password
          = f.password_field :password_confirmation, label: "Confirm Password"
        %fieldset.control-group.col-md-offset-7
          = f.submit "Submit", class: 'btn btn-primary'