= content_for :head do
  = javascript_include_tag 'viewer.jss'
  = javascript_include_tag 'annotator-full.min.js'
%section.container
  .row
    .col-md-12
      .header
        Student: #{@student.full_name}
        %br
        Assignment: #{@assignment.title}
    %iframe.col-md-10{src: @view_url, style: "width: 900px; height: 1000px; border: none", allowfullscreen: "allowfullscreen"}
    .col-md-2
      .form-title Grade (Out of #{@assignment.point_value})
      = render 'form', course: @assignment.course, assignment: @assignment, grade: @grade
