= content_for :head do
  = javascript_include_tag 'annotator-full.min.js'
  = javascript_include_tag 'crocodoc.viewer.js'
%section.container
  .row
    .col-md-12
      .header
        Student: Pete McGillicutty
        %br
        Assignment: Essay 1
    %iframe.col-md-10{src: 'https://view-api.box.com/1/sessions/86d54c04a5cb4e8cb783b8332bf7a1da/view', style: "width: 900px; height: 1000px; border: none", allowfullscreen: "allowfullscreen"}
    .viewer{:style => "height: 400px"}
    :javascript
      var viewer = Crocodoc.createViewer('.viewer', {
          url: 'https://view-api.box.com/1/sessions/86d54c04a5cb4e8cb783b8332bf7a1da/assets'
      });
      viewer.load();
    .col-md-2
      .form-title Grade (Out of 10)
      = bootstrap_form_tag do |f|
        = f.text_field :points, class: 'input-sm pull-left', hide_label: true
        = f.submit 'Submit', class: 'btn btn-sm btn-default'
