.well.col-sm-10.info-card{id: "course_#{course.id}"}
  .title-bar
    .dropdown.pull-right
      %a.dropdown-toggle.hamburger{type: "button", "data-toggle" => "dropdown"}
        %span.glyphicon.glyphicon-menu-hamburger
      %ul.dropdown-menu
        - if current_user.instructor?
          %li
            = link_to edit_course_path(course), remote: true  do
              %span.glyphicon.glyphicon-pencil
              Edit
          %li
            = link_to course, method: :delete, data: { confirm: "Are you sure you want to delete this assignment?"} do
              %span.glyphicon.glyphicon-remove
              Delete
          %li
            = link_to new_course_enrollment_path(course), remote: true do
              %span.glyphicon.glyphicon-plus
              Enroll Students
        - else
          %li
            = link_to course_enrollment_path(course_id: course.id), method: :delete, data: { confirm: "Are you sure you want to disenroll from this course?  All your assignments will be lost." } do
              %span.glyphicon.glyphicon-remove
              Disenroll
    .main-text.text-center
      = link_to course_assignments_path(course) do
        %h3.course_title= course.display_title
  .col-sm-6
    %dt Location
    %dd= course.display_location
    %dt Meeting Times
    %dd=  course.schedule
    %dt Number of Students
    %dd= course.students.count
  .col-sm-6
    %dt Notes
    %dd= course.display_notes
