%section.container
  .row
    .col-md-12
      = link_to root_path, title: 'Return to Course List' do
        .header Course: #{@course.display_title}
      %table.table.table-hover
        %thead
          %tr.text-center
            %th First Name
            %th Last Name
            %th Student ID
            - @assignments.each do |assignment|
              %th= assignment.display_title_with_point_value
            %th Course Average
            %th Course Grade
        %tbody
          - if current_user.instructor?
            - @course.students.each do |student|
              = render 'display_student_grades', student: student
          - else
            = render 'display_student_grades', student: @student
          - if current_user.instructor?
            %tfoot
              %tr
                %td Course Averages
                - 2.times do
                  %td
                - @assignments.each do |assignment|
                  %td= assignment.display_average_grade
                %td= @course.display_average_grade
                %td= @course.avg_letter_grade
              %tr
                %td Course Median
                - 2.times do
                  %td
                - @assignments.each do |assignment|
                  %td= assignment.median_grade
                %td= @course.display_median_grade
                %td= @course.median_letter_grade
